@page "/"
@using BugTrackerBC.Client.Models
@using BugTrackerBC.Client.Services.Interfaces
@inject IProjectDTOService ProjectService
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello World</h1>


@code {


}