<!-- Footer -->
<footer class="footer bg-dark py-3" data-bs-theme="dark">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <!-- Description on the Left -->
            <div class="col-lg-4 col-md-4 mb-3 mb-md-0">
                <p class="fs-xs text-light opacity-70 mb-0" style="max-width: 306px;">
                    I'm Bryan Cordova, and this is my BugTracker. I'm an aspiring web developer that primarily focuses on Blazor and C# to build responsive webapps.
                </p>
            </div>

            <!-- Logo in the Center -->
            <div class="col-lg-4 col-md-4 text-center mb-3 mb-md-0">
                <a class="navbar-brand text-light d-inline-flex align-items-center" href="/">
                    <img src="/img/Bugshotfinal.svg" height="40" width="40" alt="BugShot">
                    <span class="ms-2 text-nav">BugShot</span>
                </a>
            </div>

            <!-- Social Links on the Right -->
            <div class="col-lg-4 col-md-4 d-flex justify-content-end">
                <a class="btn btn-secondary btn-icon btn-sm rounded-circle me-2" target="_blank" href="https://github.com/CordoBry9" aria-label="Github">
                    <i class="bi bi-github"></i>
                </a>
                <a class="btn btn-secondary btn-icon btn-sm rounded-circle me-2" target="_blank" href="mailto:bryancordova.hela@gmail.com" aria-label="Email">
                    <i class="bi bi-envelope"></i>
                </a>
                <a class="btn btn-secondary btn-icon btn-sm rounded-circle me-2" target="_blank" href="https://www.linkedin.com/in/bryan-cordova-0677a1125/" aria-label="LinkedIn">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a class="btn btn-secondary btn-icon btn-sm rounded-circle me-2" target="_blank" href="https://bryancordova.netlify.app/" aria-label="Portfolio">
                    <i class="bi bi-person-lines-fill"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

@code {

}
