@using BugTrackerBC.Client.Models
@using BugTrackerBC.Client.Services.Interfaces
@inject ICompanyDTOService CompanyDTOService
@inject IProjectDTOService ProjectDTOService

<header class="header navbar navbar-expand-lg bg-light shadow-sm shadow-dark-mode-none fixed-top">
    <div class="container px-3">

        <AuthorizeView>
            <Authorized>
        <a href="/" class="navbar-brand pe-3">
            <img src="img/Bugshotfinal.svg" width="47" alt="Silicon">
            BugShot
        </a>

            </Authorized>
            <NotAuthorized>
                <a href="/" class="navbar-brand pe-3 mt-2">
                    <img src="img/Bugshotfinal.svg" width="47" alt="Silicon">
                    BugShot
                </a>
            </NotAuthorized>
        </AuthorizeView>
        <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mt-2">
                        <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item mt-2">
                                <NavLink href="/company" class="nav-link" Match="NavLinkMatch.Prefix">Company</NavLink>
                            </li>

                        </Authorized>
                        <NotAuthorized>

                        </NotAuthorized>
                    </AuthorizeView>
                    <li class="nav-item mt-2">
                        <AuthorizeView>
                            <Authorized>

                                @if (context.User.IsInRole(nameof(Roles.Admin)))
                                {
                                    <NavLink href="/all-projects" class="nav-link" Match="NavLinkMatch.Prefix">Projects</NavLink>
                                }
                                @if (context.User.IsInRole(nameof(Roles.Submitter)) || context.User.IsInRole(nameof(Roles.ProjectManager)) || context.User.IsInRole(nameof(Roles.Developer)))
                                {
                                    <NavLink href="/my-projects" class="nav-link" Match="NavLinkMatch.Prefix">Projects</NavLink>
                                }
                            </Authorized>
                            <NotAuthorized>

                            </NotAuthorized>
                        </AuthorizeView>

                    </li>

                    <li class="nav-item mt-2">
                        <AuthorizeView>
                            <Authorized>

                                @if (context.User.IsInRole(nameof(Roles.Admin)))
                                {
                                    <NavLink href="/tickets" class="nav-link" Match="NavLinkMatch.Prefix">Tickets</NavLink>
                                }
                                @if (context.User.IsInRole(nameof(Roles.Submitter)) || context.User.IsInRole(nameof(Roles.ProjectManager)) || context.User.IsInRole(nameof(Roles.Developer)))
                                {
                                    <NavLink href="/my-tickets" class="nav-link" Match="NavLinkMatch.Prefix">Tickets</NavLink>
                                }
                            </Authorized>
                            <NotAuthorized>

                            </NotAuthorized>
                        </AuthorizeView>
                    </li>

                    <li class="nav-item dropdown text-end ms-auto">
                        <AuthorizeView>
                            <NotAuthorized>
                                <a href="#" class="dropdown-toggle nav-link mt-2" data-bs-toggle="dropdown" aria-current="page">
                                    Login/Register
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">
                                        <NavLink class="nav-link" href="Account/Login">
                                            Login
                                        </NavLink>
                                    </li>
                                    <li class="dropdown-item">
                                        <NavLink class="nav-link" href="Account/Register">
                                            Register
                                        </NavLink>
                                    </li>
                                </ul>
                            </NotAuthorized>
                            <Authorized>
                                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-current="page">
                                    @if (companyMembers != null)
                                    {
                                        @foreach (UserDTO userimg in companyMembers.Where(m => m.Id == userInfo.UserId))
                                        {
                                            <img src="@userimg.ImageUrl" class="rounded-circle p-0 m-0" width="40" alt="user-image" />
                                        }
                                    }
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">
                                        <NavLink class="nav-link" href="Account/Manage">
                                            @context.User.Identity?.Name
                                        </NavLink>
                                    </li>
                                    <li class="dropdown-item">
                                        <form action="Account/Logout" method="post">
                                            <AntiforgeryToken />
                                            <input type="hidden" name="ReturnUrl" value="Account/Login" />
                                            <button type="submit" class="nav-link">
                                                Logout
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </Authorized>
                        </AuthorizeView>
                    </li>
                </ul>
            </div>
        </div>
        @*         <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
        <input type="checkbox" class="form-check-input" id="theme-mode">
        <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
        <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
        </div> *@
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</header>
@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    private IEnumerable<ProjectDTO> projects = [];
    private ProjectDTO? project;
    private UserInfo? userInfo;
    private IEnumerable<UserDTO>? companyMembers;
    private UserDTO? companyMember;

    protected override async Task OnInitializedAsync()
    {

        userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);
        if (userInfo != null)
        {
            projects = await ProjectDTOService.GetAllProjectsAsync(userInfo.CompanyId);
            companyMembers = await CompanyDTOService.GetCompanyMembersAsync(userInfo.CompanyId);
        }


    }

}
