<div class="alert d-flex alert-danger" role="alert">
    <i class="bx bx-block lead me-3"></i>
    <div>
            <h4>
                @Title
            </h4>
            <p>@DisplayMessage</p>
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public string Title { get; set; } = "Title Goes Here";


    [Parameter, EditorRequired]
    public string DisplayMessage { get; set; } = "Message Goes Here";

    [Parameter]
    public string cssClass { get; set; } = "alert-primary";

}
